################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ingest3rs/Weaviate/blah
/ingest3rs/Weaviate/fake_nmap_results.json
/ingest3rs/Weaviate/nmap-import/fake_nmap_results.json
